*{
    font-family:  'Segoe UI', 'Product Sans', 'Roboto', sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

/*Typography*/
h1{font-size: 90px; font-weight: 200;}
h2{font-size: 80px; font-weight: 200;}
h3{font-size: 72px; font-weight: 200;}
h4{font-size: 64px; font-weight: 200;}
h5{font-size: 48px; font-weight: 200;}
h6{font-size: 36px; font-weight: 200;}
h7{font-size: 32px; font-weight: 200;}

a,p,pre{font-size: 24px; font-weight: 100;}

.ta_left{text-align: left;}
.ta_right{text-align: right;}
.ta_center{text-align: center;}
/*Grid*/
.page_container{
    display: block;
    width: 88%;
    margin: auto;
}

.row{display: inline-flex;}
.column{display: inline-block; padding: 1%;}
.center{display: block; margin: auto;}
.left{display: block; float: left;}
.right{display: block; float: right;}

/*For Large Screens*/

@media (min-width: 1024px) {
    .large12{width: 100%;}
    .large11{width: 91.666666666666666666666666666667%;}
    .large10{width: 83.3333333333333333333333333333333%;}
    .large9{width: 75%;}
    .large8{width: 66.666666666666666666666666666667%;}
    .large7{width: 58.3333333333333333333333333333333%;}
    .large6{width: 50%;}
    .large5{width: 41.666666666666666666666666666667%;}
    .large4{width: 33.333333333333333333333333333333%;}
    .large3{width: 25%;}
    .large2{width: 16.666666666666666666666666666667%;}
    .large1{width: 8.333333333333333333333333333333%;}
}

/*For Medium Screens*/

@media (min-width: 640px) and (max-width: 1023px) {
    .medium12,.medium11{width: 100%;}
    .medium10{width: 83.3333333333333333333333333333333%;}
    .medium9{width: 75%;}
    .medium8,.medium7{width: 66.666666666666666666666666666667%;}
    .medium6,.medium5{width: 50%;}
    .medium4,.medium3{width: 33.333333333333333333333333333333%;}
    .medium2{width:25%;}
    .medium1{width: 16.666666666666666666666666666667%;}
}

/*For Small Screens*/

@media (min-width: 320px) and (max-width: 639px) {
    .small12,.small11{width: 100%;}
    .small10{width: 83.3333333333333333333333333333333%;}
    .small9{width: 75%;}
    .small8,.small7{width: 66.666666666666666666666666666667%;}
    .small6,.small5{width: 50%;}
    .small4,.small3{width: 33.333333333333333333333333333333%;}
    .small2{width:25%;}
    .small1{width: 16.666666666666666666666666666667%;}
}

/*Elevation*/

.zi{z-index: 0; box-shadow:  0 0.1px 0.4px 0 rgba(0, 0, 0, 0.4), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.38); transition: 250s ease;}
.zi1{
    z-index: 1;
    box-shadow:  0 0.4px 1px 0 rgba(0, 0, 0, 0.4), 0 0.3px 1px 0 rgba(0, 0, 0, 0.38);
    transition: 250ms ease;
}
.zi2{
    z-index: 2;
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 6px 0 rgba(0, 0, 0, 0.38);
    transition: 250ms ease;
}
.zi3{
    z-index: 3;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 4px 12px 0 rgba(0, 0, 0, 0.38);
    transition: 250ms ease;
}
.zi4{
    z-index: 4;
    box-shadow:  0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 8px 24px 0 rgba(0, 0, 0, 0.38);
    transition: 250ms ease;
}
.zi:hover{box-shadow:  0.4px 0 1px 0 rgba(0, 0, 0, 0.4), 0 0.4px 1.5px 0 rgba(0, 0, 0, 0.38); transition: 250ms;}
.zi1:hover{box-shadow:  1.5px 0 3px 0 rgba(0, 0, 0, 0.4), 0 1.5px 4.5px 0 rgba(0, 0, 0, 0.38); transition: 250ms;}
.zi2:hover{box-shadow:  3px 0 6px 0 rgba(0, 0, 0, 0.4), 0 3px 9px 0 rgba(0, 0, 0, 0.38); transition: 250ms;}
.zi3:hover{box-shadow:  6px 0 12px 0 rgba(0, 0, 0, 0.4), 0 4px 12px 0 rgba(0, 0, 0, 0.38); transition: 250ms;}
.zi4:hover{box-shadow:  12px 0 24px 0 rgba(0, 0, 0, 0.4), 0 6px 18px 0 rgba(0, 0, 0, 0.38); transition: 250ms;}

/*Colors*/
.primary_blue{background: #08415C; color:#FFF;}
.primary_green{background: #28B85B; color:#FFF;}
.primary_red{background: #CC2936; color:#FFF;}
.primary_yellow{background: #CCC908; color:#1A1A1A;}
.primary_inverted{background: #1E1E1E; color:#FFF;}


.secondary_blue{background: #06A7DD; color:#FFF;}
.secondary_green{background: #06A77D; color:#FFF;}

/*Controls*/

a,.link{color:#000; position: relative; z-index: 0; text-decoration-color: #06A7DD;}
a:before,.link:before{position: absolute; background: #06955B; z-index: 1; width: 0%; height: 10%; content: '';left:0; bottom:2; transition:1s ease;}
a:hover:before,.link:hover::before{width: 100%; transition: 1s ease;}

/*Buttons*/

button{
    background: rgba(125, 125, 125, 0.4);
    border: none;
    padding: 2%;
}
button.large{width: 60%; height: 10%;}

/*Inputs*/

input[type=text],input[type=password],input[type=tel],input[type=number],input[type=email],
input[type=date],input[type=datetime-local],input[type=month]{
    width: 80%;
    padding: 2%;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    -webkit-appearance: none;
    font-size: 14px;
}

input[type=text]:hover,input[type=password]:hover,input[type=tel]:hover,input[type=number]:hover,
input[type=email]:hover,input[type=date]:hover,input[type=datetime-local]:hover,input[type=month]:hover{
    border: 1.5px solid rgba(0, 0, 0, 0.6);
}
input[type=text]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=number]:focus,
input[type=email]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=month]:focus{
    border: 1.5px solid rgba(6, 167, 221, 1);
}

input[type=range]{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background: rgba(125, 125, 125, 0.4);
    height: 1%;
}
input[type=range]:hover{background: rgba(125, 125, 125, 0.6);}

input[type=range]::-moz-range-thumb{
    -moz-appearance: none;
    height: 24px;
    width: 8px;
    border-radius: 100px;
    background: rgba(6, 167, 221, 1);
}
input[type=range]:focus::-moz-range-thumb{background: rgba(125, 125, 125, 0.6);}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 24px;
    width: 8px;
    border-radius: 100px;
    background: rgba(6, 167, 221, 1);
}
input[type=range]:focus::-webkit-slider-thumb{background: rgba(125, 125, 125, 0.6);}
input[type=range]::-ms-thumb{
    -ms-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    height: 24px;
    width: 8px;
    border-radius: 100px;
    background: rgb(0, 0, 0);
}
input[type=range]::-ms-fill-lower{background: #06A7DD;}

input[type=radio],.radioinfo{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    background: rgba(125, 125, 125, 0.4);
    border-radius: 90px;
    border:2px solid #06A7DD;
    margin-left: 5%;
    margin-right: 5%;
}
input[type=radio]:hover{background: rgba(125, 125, 125, 0.6);}
input[type=radio]:checked{background: #06A7DD; border: 2px solid rgba(125, 125, 125, 0.6);}
